@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/eb-garamond/eb-garamond-08-regular.eot');
    src: url('../fonts/eb-garamond/eb-garamond-08-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb-garamond/eb-garamond-08-regular.woff') format('woff'),
         url('../fonts/eb-garamond/eb-garamond-08-regular.ttf') format('truetype'),
         url('../fonts/eb-garamond/eb-garamond-08-regular.svg#eb_garamond08_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/eb-garamond/eb-garamond-08-italic.eot');
    src: url('../fonts/eb-garamond/eb-garamond-08-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb-garamond/eb-garamond-08-italic.woff') format('woff'),
         url('../fonts/eb-garamond/eb-garamond-08-italic.ttf') format('truetype'),
         url('../fonts/eb-garamond/eb-garamond-08-italic.svg#eb_garamond08_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@lineal: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@garalde: "EB Garamond", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

@black: #211e1e;
@grey: #f2efed; /* GRIS NEUTRE: #d0d0d0 ------- GRIS CHAUD: : #f2efed */

@red: #e64c27;
@red-light: #e9634f;
@red-dark: #c6381b;
@orange: #ed7f30;

@blue: #3f7fbb;
@blue-light: #68c4dd;
@blue-dark: #244291;
@green: #57b178;

@yellow: #dcc668;
@purple: #645e81;

body {
	font-family: @lineal;
	color: @black;
	margin: 0;
}

a { text-decoration: none; color: @black; }

.clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    
    &:after { clear: both; }
}

@import "imports/main";
@import "imports/nav";
@import "imports/mosaic";
@import "imports/lieu";
@import "imports/profil";
<<<<<<< HEAD
@import "imports/inscription";
=======
@import "imports/article";
>>>>>>> origin/master
