html(lang="fr")
	head
		include includes/head
		title Col de la Lyé
	body
		include includes/nav
		.articleContainer
			a.closeArticle(href="#")
			article
				h1 Hello
				p Malgré toutes les compétitions auxquelles je participe durant ce printemps, j'ai quand même le temps de profiter de la forêt pendant quelques journées... Fin Mars, frustré de ne toujours pas comprendre comment s'en sortir dans la mythique dalle de "Duel", Jerem m'emmène découvrir un bloc beaucoup plus physique ou je pourrai mieux m'exprimer... Nous voilà au pied de "L'insoutenable légèreté de l'être" un 8B classique de la foret, mais rendu très difficile suite à la casse d'une bonne inversée dans le réta final.

				h2 Jack
				p En touchant les prises et en regardant Jerem randonner le départ debout du bloc, je me dis que je dois essayer un essai flash... Mais je n'ai même pas réussi le premier mouvement (le plus dur pour moi). Puis après avoir réussi une fois chaque mouv, puis le départ debout en quelques essais, je décide de me reposer quelques minutes pour mettre un seul essai du bas en "mode compet"... et ça passe!! Un 8B plutôt dur en moins d'une heure fin Mars, c'était une première pour moi!!
				p Puis le 5 Mai, en bonne forme suite à mes deux podiums en coupe du monde, je rejoins des amis au rocher Gréau pour tenter d'en finir avec le départ assis du "Toit du gréau" qui n'est autre que "Chaos" un 8B très physique et endurant qui finit par un mouvement très violent... J'avais déjà mis une bonne dizaine d'essais sur 4/5 séances depuis l'automne, mais la prise d'arrivée était toujours humide, voir même mouillée...
				p Je me rends donc dans ce bloc avec Seb Valran (qui voulait essayer le départ debout). Je refais le départ debout pour lui faire voir les méthodes, et commence à rechercher mes mouvements pour le départ assis. Puis dès le premier essai je tombe au dernier mouvement, mais je sens que ça va être dur dur... Puis Seb ne réussissait pas à faire mes méthodes pour ce dernier mouv car il est plus grand que moi, et me propose une nouvelle méthode pour expédier le bloc en deux mouvements et enlever un petit mouv très coûteux en énergie pour moi... J'essaye, et ça marche du premier coup!!

				h2 Jack
				p Puis je remets deux essais pour bien optimiser le début qui est difficile à mémoriser, et je sors donc le bloc au quatrième essai de la journée, et donc une quinzaine d'essais sur plus de 6 mois... A noter le beau week end de Seb qui enchaîne ses deux premiers 8A avec "Tigre et dragon" en deux essais et "le toit du Gréau". Il a aussi ajouté pas mal de 7C à cela, un début en forêt pour lui, affaire a suivre...
				p Vidéo de mes enchaînements à voir ici :
				p Puis nous avons fini ce long week end par une visite ensoleillée au Rempart, où Seb a empoché "Noir désir", "Tristesse", et "Big Boss". On peut dire que ce n'est pas si facile que ça en plein soleil (j'ai refait "Big boss" et "Fourmis rouges" pour m'en rendre compte).  
				p http://guillaumeglaironmondet.blogspot.fr/2013/05/two-more-8bs-video.html
			a.share(href="#") Recommander
			p.mightBe Quelques articles qui pourraient vous intéresser.
			.item.p1x1
				a(href=""): img.item-img(src="img/photos/mosaic/1x1-1.jpg" alt="")
				.item-links
					a.item-links-articleName(href="#") D'est en ouest...
					a.item-links-lieu(href="lieu.html") Col de la Lyé
					a.item-links-auteur(href="profil.html") Francois Juste
			.item.p1x1.i-left
				a(href=""): img.item-img(src="img/photos/mosaic/1x1-1.jpg" alt="")
				.item-links
					a.item-links-articleName(href="#") D'est en ouest...
					a.item-links-lieu(href="lieu.html") Col de la Lyé
					a.item-links-auteur(href="profil.html") Francois Juste
			.item.p1x1.i-right
				a(href=""): img.item-img(src="img/photos/mosaic/1x1-1.jpg" alt="")
				.item-links
					a.item-links-articleName(href="#") D'est en ouest...
					a.item-links-lieu(href="lieu.html") Col de la Lyé
					a.item-links-auteur(href="profil.html") Francois Juste
			a.item.comeOn(href="")
				p Racontez nous votre histoire

