html(lang="fr")
	head
		include includes/head
		title Col de la Lyé
	body
		include includes/nav
		.creationContainer
			a.closeArticle(href="#")

			input.titre(type='text', name='fname', value="... Votre titre d'article ici ...")