html(lang="fr")
	head
		include includes/head
	body
		include includes/nav
		include includes/reponse
		
		main#content
			.scroller
				include includes/mosaic
			a.linkMap(href="#")
				span#textLinkMap Carte
		.article
				include includes/article
		.creation
				include includes/creation
		a.closeArticle.showArticle(href="#")
		a.closeCreation.showCreation(href="#")
		#largeMap

		include includes/scripts