html(lang="fr")
	head
		include includes/head
	body
		include includes/nav

		main#content
			.scroller
				include includes/mosaic
			a.linkMap(href="#")
				span#textLinkMap Carte
		.article
				include includes/article
		a.closeArticle.showArticle(href="#")
		#largeMap

		include includes/scripts