html(lang="fr")
	head
		include includes/head
		style
			.recommande:after, .suivi:after, .nonlu:after { visibility: hidden; }

	body
		include includes/nav-unlogged
		include includes/inscription
		include includes/messagerie
		main#content
			.scroller
				include includes/mosaic-unlogged
			a.linkMap(href="#")
				span#textLinkMap Carte
		.article
				include includes/article
		a.closeArticle.showArticle(href="#")
		#largeMap

		include includes/scripts