html(lang="fr")
	head
		include includes/head
		style
			.recommande:after, .suivi:after, .nonlu:after { visibility: hidden; }

	body
		include includes/nav-unlogged
		include includes/inscription

		main#content
			.scroller
				include includes/mosaic
			a.linkMap(href="#")
				span#textLinkMap Carte
		#largeMap

		include includes/scripts