html(lang="fr")
	head
		include includes/head
		style
			.recommande:after, .suivi:after, .nonlu:after { visibility: hidden; }

	body
		include includes/nav-unlogged
		include includes/inscription
		
		main#content
			.scroller
				include includes/mosaic-unlogged
			a.linkMap(href="#")
				span#textLinkMap Carte
		.article
				include includes/article-unlogged
		a.closeArticle.showArticle(href="#")
		#largeMap

		include includes/scripts
		script(type="text/javascript" src="js/initialize-map-unlogged.min.js")