html(lang="fr")
	head
		title Hung Around
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		include includes/nav

		main#content
<<<<<<< HEAD
			

=======
		include include/profil
>>>>>>> FETCH_HEAD
		include includes/scripts