
		main#content
			.popup
				img.popup-logo(src="img/logo.svg" alt="logo")

				a.fermeture(href="index.html") 
					img(src="img/icones/close.svg" alt="close")

				section.inscrip
					h1 Inscription
					article.champ
						form(action='demo_form.asp')
							.nom
								img.icones1(src="img/icones/user.svg" alt="user")
								input.saisi1(type='text', name='fname')
								br
							.email
								img.icones(src="img/icones/mail.svg" alt="password")
								input.saisi2(type='text', name='pwd')
								br
							.mp
								img.icones(src="img/icones/password.svg" alt="password")
								input.saisi3(type='password', name='pwd')
								br
							input.valid(type='submit', value='Valider')

				section.connex
					h1 Connexion
					article.champ
						form(action='demo_form.asp')
							.nom
								img.icones1(src="img/icones/user.svg" alt="user")
								input.saisi4(type='text', name='fname')
								br
							.mp
								img.icones(src="img/icones/password.svg" alt="password")
								input.saisi5(type='password', name='pwd')
								br
							input.valid(type='submit', value='Valider')