.popup
	img.popup-logo(src="img/logo.svg" alt="logo")

	a.popup-fermeture(href="index.html") 
		img.popup-fermeture-img(src="img/icones/close.svg" alt="close")

	.popup-inscrip
		h2.popup-inscrip-text Inscription
		.popup-inscrip-champ
			form(action='demo_form.asp')
				.popup-inscrip-champ-nom
					img.popup-inscrip-champ-nom-userimg(src="img/icones/user.svg" alt="user")
					p.popup-inscrip-champ-nom-text Nom d'utilisateur:
					input.popup-inscrip-champ-nom-saisi(type='text', name='fname')
					br
				.popup-inscrip-champ-email
					img.popup-inscrip-champ-email-emailimg(src="img/icones/mail.svg" alt="password")
					p.popup-inscrip-champ-email-text Email:
					input.popup-inscrip-champ-email-saisi(type='password', name='pwd')
					br
				.popup-inscrip-champ-mp
					img.popup-inscrip-champ-mp-mpimg(src="img/icones/password.svg" alt="password")
					p.popup-inscrip-champ-mp-text Mot de passe:
					input.popup-inscrip-champ-mp-saisi(type='password', name='pwd')
					br
				input.popup-inscrip-champ-valid(type='submit', value='Submit')

	.popup-connex
		h2.popup-connex-text Connexion
		.popup-connex-champ
			form(action='demo_form.asp')
				.popup-connex-champ-nom
					img.popup-connex-champ-nom-userimg(src="img/icones/user.svg" alt="user")
					p.popup-connex-champ-nom-text Nom d'utilisateur:
					input.popup-connex-champ-nom-saisi(type='text', name='fname')
					br
				.popup-connex-champ-mp
					img.popup-connex-champ-mp-mpimg(src="img/icones/password.svg" alt="password")
					p.popup-connex-champ-mp-text Mot de passe:
					input.popup-connex-champ-mp-saisi(type='password', name='pwd')
					br
				input.popup-connex-champ-valid(type='submit', value='Submit')