html(lang="fr")
	head
		include includes/head
		tittle Col de la Lyé
	body
		include includes/nav

		main#content
			.scroller
				.lieu
					img.panoramique(src="img/photos/panoramique/panoramique.jpg" alt="panoramique")
					section.info
						h1.info-lieu <strong>Col de la Lyé</strong>
						article.info-meteo
							h1 Météo
							ul
								li
									img.icone(src="img/weather/cloudy.svg" alt="Météo")
									span.jour Lun 26
								li
									img.icone(src="img/weather/stormy.svg" alt="Météo")
									span.jour Mar 27
								li
									img.icone(src="img/weather/stormy.svg" alt="Météo")
									span.jour Mer 28

								li
									img.icone(src="img/weather/sunny.svg" alt="Météo")
									span.jour Jeu 29
								li
									img.icone(src="img/weather/stormy.svg" alt="Météo")
									span.jour Ven 30

						article.info-terrain
							h1 Composition du terrain
								ul
									li.terrain
										img(src="img/icones/ground.svg" alt="CompositionTerrain")
									li.granite Granite / 37%
									li.calcaire Calcaire / 23%
									li.gres Grès / 24%
									li.schiste Schiste / 12%
									li.glace Glace / 4%


						article.info-voie	
							h1 Diffuculté des voie
							ul
								li
									span.nombre 9
									span.text voies de niveau
									span.niveau1 1
								li
									span.nombre 2
									span.text voies de niveau
									span.niveau2 2
								li
									span.nombre 9
									span.text voies de niveau
									span.niveau3 3
								li
									span.nombre 5
									span.text voies de niveau
									span.niveau4 4
								li
									span.nombre 6
									span.text voies de niveau
									span.niveau5a 5a
								li
									span.nombre 9
									span.text voies de niveau
									span.niveau5b 5b
								li
									span.nombre 4
									span.text voies de niveau
									span.niveau6a 6a
								li
									span.nombre 9
									span.text voies de niveau
									span.niveau6aplus 6a+
								li
									span.nombre 8
									span.text voies de niveau
									span.niveau6b 6b
								li
									span.nombre 5
									span.text voies de niveau
									span.niveau6bplus 6b+
								li
									span.nombre 1
									span.text voies de niveau
									span.niveau6c 6c
								li
									span.nombre 2
									span.text voies de niveau
									span.niveau6cplus 6c+
								li
									span.nombre 4
									span.text voies de niveau
									span.niveau7a 7a
								li
									span.nombre 8
									span.text voies de niveau
									span.niveau7aplus 7a+
								li
									span.nombre 1
									span.text voies de niveau
									span.niveau7b 7b
								li
									span.nombre 3
									span.text voies de niveau
									span.niveau7bplus 7b+
								li
									span.nombre 6
									span.text voies de niveau
									span.niveau7c 7c
								li
									span.nombre 4
									span.text voies de niveau
									span.niveau7cplus 7c+
								li
									span.nombre 5
									span.text voies de niveau
									span.niveau8a 8a
								li
									span.nombre 1
									span.text voies de niveau
									span.niveau8aplus 8a+
								li
									span.nombre 2
									span.text voies de niveau
									span.niveau8b 8b
								li
									span.nombre 3
									span.text voies de niveau
									span.niveau8bplus 8b+
								li
									span.nombre 1
									span.text voies de niveau
									span.niveau8c 8c
								li
									span.nombre 2
									span.text voies de niveau
									span.niveau8cplus 8c+
								li
									span.nombre 1
									span.text voies de niveau
									span.niveau9a 9a
								li
									span.nombre 4
									span.text voies de niveau
									span.niveau9aplus 9a+
								li
									span.nombre 1
									span.text voies de niveau
									span.niveau9b 9b
								li
									span.nombre 2
									span.text voies de niveau
									span.niveau9bplus 9b+
					.mosaic				
						include includes/mosaic
			a.linkMap(href="#")
				span#textLinkMap Carte
		#largeMap
				

		include includes/scripts