html(lang="fr")
	head
		include includes/head
		tittle Col de la Lyé
	body
		include includes/nav-unlogged

		main#content
			img.panoramique(src="img/photos/panoramique/panoramique.jpg" alt="panoramique")
			.info
				.info-lieu
					h2.info-user-nom  <strong>Col de la Lyé</strong>
				.info-meteo
					h4.info-meteo-text Météo
					p.info-meteo-jour Lun
					img.info-meteo-img(src="img/weather/stormy.svg" alt="Météo")
					p.info-meteo-jour Mar
					img.info-meteo-img(src="img/weather/sunny.svg" alt="Météo")
					p.info-meteo-jour Mer
					img.info-meteo-img(src="img/weather/stormy.svg" alt="Météo")
					p.info-meteo-jour Jeu
					img.info-meteo-img(src="img/weather/cloudy.svg" alt="Météo")
					p.info-meteo-jour Ven
					img.info-meteo-img(src="img/weather/stormy.svg" alt="Météo")
				.info-terrain
					h4.info-terrain-text Composition du terrain
					img.info-terrain-compo(src="" alt="CompositionTerrain")
					P.info-terrain-granite Granite / 37%
					p.info-terrain-calcaire Calcaire / 23%
					p.info-terrain-grès Grès / 24%
					p.info-terrain-schiste Schiste / 12%
					p.info-terrain-glace Glace / 4%
					

				.info-info	
					h4.info-folowers-text Grimpeurs suivis
					a.info-folowers-nmb(href="#") 0 
						//- fenetre pop up avec les folowers
				.info-amis	
					h4.info-amis-text Compagnons de grimpe
					img.info-amis-info-photo(src="img/photos/users/1.jpg" alt="photoAmis1")
					img.info-amis-info-photo(src="img/photos/users/2.jpg" alt="photoAmis2")
					img.info-amis-info-photo(src="img/photos/users/3.jpg" alt="photoAmis3")
					a.info-amis-info-nmb(href="#") +6 
						//- fenetre pop up avec les amis
				.info-habitudes
					h4.border-habitudes-text Sites les plus grimpés


		include includes/scripts