html(lang="fr")
	head
		include includes/head
		tittle Col de la Lyé
	body
		include includes/nav-unlogged

		main#content
			img.panoramique(src="img/photos/panoramique/panoramique.jpg" alt="panoramique")


		include includes/scripts