html(lang="fr")
	head
		title Hung Around
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		include includes/nav
		main#content
			.border
				.border-user
					img.border-user-photoProfil(src="" alt="photoDeProfil")
					h2.border-user-nom  <strong>Francois</strong>

				.border-ajoutLieu
					img.border-ajoutLieu-img(src="" alt="photoDeProfil")
					a.border-ajoutLieu-lien(href="#") Ajoutez un lieu

				.border-article
					p.border-article-Postes Article Posté
					p.border-article-Postes-nmb 0
					a.border-article-creer(href="#") Ajouter un article

				.border-folowers	
					h3.border-folowers-text Grimpeurs suivis
					a.border-folowers-nmb(href="#") 0 
						//- fenetre pop up avec les folowers

				.border-amis	
					h3.border-amis-text Compagnons de grimpe
						img.border-amis-info-photo(src="" alt="photoAmis1")
						img.border-amis-info-photo(src="" alt="photoAmis2")
						img.border-amis-info-photo(src="" alt="photoAmis3")
						a.border-amis-info-nmb(href="#") +2 
						//- fenetre pop up avec les amis


		include includes/scripts
