html(lang="fr")
	head
		include includes/head
		title Hang arond
		style
			.recommande:after, .suivi:after, .nonlu:after { visibility: hidden; }
	body
		include includes/nav-nofilters
		include includes/reponse
		
		main#content
			.scroller
				.profil
					section.info
						article.info-user
							img(src="img/photos/francis.jpg" alt="photoDeProfil")
							h1.info-nom <strong>François Juste</strong>
						article.ajouterLieu
							p Habite à 
							a(href="#") Ajoutez une localisation
						article.info-article
							h1 <span>0</span> Article(s) Posté(s)
							a.info-article-creer(href="#") Ajouter un article
						article.info-follow	
							h1 Grimpeurs suivis
							a(href="#") 0 
								//- fenetre pop up avec les folowers
						article.info-amis	
							h1 Compagnons de grimpe 
							img.photo1(src="img/photos/users/1.jpg" alt="photoAmis1")
							img.photo(src="img/photos/users/2.jpg" alt="photoAmis2")
							img.photo(src="img/photos/users/3.jpg" alt="photoAmis3")
							a.nmb(href="#") +6 
								//- fenetre pop up avec les amis
						article.info-habitudes
							h1 Sites les plus grimpés
							ul
								li
									a.site1 Col de la lyé
									span.nombre 7 Ascension
								li
									a.site2 Plateau de jeune pousse
									span.nombre 4
								li
									a.site3 La montagne noire
									span.nombre 2
					section.center
						a.posted-articles.active(href="#") Articles postés
						a.shared-articles(href="#") Articles partagés
					
						include includes/mosaic-small
			a.linkMap(href="#")
				span#textLinkMap Carte
		.article
				include includes/article
		a.closeArticle.showArticle(href="#")
		#largeMap

		include includes/scripts
		script(type="text/javascript" src="js/initialize-map.min.js")
