html(lang="fr")
	head
		title Hung Around
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		include includes/nav
		main#content
			.border
				.border-user
					img.border-user-photoProfil(src="img/photos/francois.jpg" alt="photoDeProfil")
					h2.border-user-nom  <strong>Francois</strong>

				.border-ajoutLieu
					img.border-ajoutLieu-img(src="img/icones/home.svg" alt="maison")
					h4.border-ajoutLieu-text Habite à 
					a.border-ajoutLieu-lien(href="#") Ajoutez un lieu

				.border-article
					h4.border-article-Postes Article Posté
					p.border-article-Postes 0
					a.border-article-creer(href="#") Ajouter un article

				.border-folowers	
					h4.border-folowers-text Grimpeurs suivis
					a.border-folowers-nmb(href="#") 0 
						//- fenetre pop up avec les folowers

				.border-amis	
					h4.border-amis-text Compagnons de grimpe
					img.border-amis-info-photo(src="img/photos/users/1.jpg" alt="photoAmis1")
					img.border-amis-info-photo(src="img/photos/users/2.jpg" alt="photoAmis2")
					img.border-amis-info-photo(src="img/photos/users/3.jpg" alt="photoAmis3")
					a.border-amis-info-nmb(href="#") +6 
						//- fenetre pop up avec les amis


		include includes/scripts
