.article {
	background: white;
	z-index: 2;
	position: absolute;
	left: -66.66666%;
	top: 0;
	width: 66.66666%;
	height: 100%;
	animation: hello 3s ease-out forwards;
    box-sizing: border-box;
    border-top: solid 44px transparent;
    overflow-y: scroll;
    transform: translateX(0%);
    transition: transform 1s ease;
}

.toggleArticle { transform: translateX(100%)!important; }

.articleContainer {
	box-sizing: border-box;
	padding: 0 60px 0 60px;
	width: 100%;

	.item {
		float: left;
		width: 23.125%;
	}

	.i-left { margin: 0 1.25% 0 2.5%; }
	.i-right { margin: 0 2.5% 0 1.25%; }

	article {
		position: relative;
		font-family: @garalde;
		font-size: 19px;
		border-bottom: 1px solid @black;
		padding-bottom: 50px;
	
		h1, h2 { font-style: italic; }
		h1 { font-size: 40px; }
		h2 { font-size: 25px; }
		img { width: 100%; margin: 5px 0; }
		
		.videoContainer {
			position: relative;
			padding-bottom: 56.3%;
			height: 0;

			#example_video_1 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: white;
			}
		}
	}

	.share {
		display: inline-block;
		margin: 60px 0 20px 1.5%;
		background: @green;
		padding: 7px 10px 5px 10px;
		font-size: 17px;
	}

	.share:before {
		content: "";
		background: url("../img/icones/recommend.svg") no-repeat center center;
		background-size: contain;
		display: inline-block;
		height: 15px;
		width: 15px;
		margin-right: 10px;
	}

	.mightBe { font-weight: bold; font-size: 20px; margin-left: 1.5%; }

	article:after {
		position: absolute;
		bottom: -15px;
		width: 100%;
		height: 30px;
		background: url("../img/icones/article-end.svg") no-repeat center center;
		background-size: contain;
		display: block;
		content: "";
	}
}

.closeArticle {
	z-index: 10;
	display: inline-block;
	position: fixed;
	background: url("../img/icones/close.svg") no-repeat center center;
	background-size: contain;
	width: 30px;
	height: 30px;
	top: 84px;
	transition: -webkit-transform 0.4s ease;
	transform: translateX(-300%);
}

.toggleCloser { transform: translateX(50%)!important; transition: -webkit-transform 0.4s ease 0.65s;  }

.infos {
	position: relative;
	width: 100%;
	height: 120px;
	display: block;
	font-family: @lineal;
	margin: 30px 0;

	.meteo {
		width: 35%;
		height: 100%;
		float: left;
		font-size: 40px;
		vertical-align: middle;
		font-weight: bold;
		background: url("../img/weather/sunny.svg") no-repeat left center;
		background-size: contain;
		border-right: 1px solid @black;

		.temperature { float: right; margin-right: 20px; margin-top: 12px; }
	}

	.itineraire {
		width: 50%;
		height: 100%;
		float: left;
	}

	time {
		top: 0;
		right: 0;
		width: 15%;
		height: 100%;
		float: right;
		border-left: 1px solid @black;
		text-align: center;
		color: @red-dark;

		.jour { font-size: 55px; height: 55px; font-weight: bold; margin: 0; }
		.mois { font-size: 30px; height: 33px; font-weight: bold; margin: 0; }
		.annee { font-size: 23px; height: 20px; font-weight: bold; margin: 0; }
	}
}

.depart, .arrivee { font-size: 20px; display: block; white-space: nowrap; text-ellipsis: ellipsis; }

.depart { margin: 16px 0 16px 0; }
.arrivee { margin: 0; }

.depart:before, .arrivee:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 10px 0 20px;
}

.depart:before { background: url("../img/icones/place-green.svg") no-repeat center bottom; background-size: contain; }
.arrivee:before { background: url("../img/icones/place-red.svg") no-repeat center bottom; background-size: contain; }

.clickPlease {
	display: block;
	width: 100%;
	.clearfix
}

.comeOn {
	background: @blue-dark;
	float: left;

	p {
		box-sizing: border-box;
		position: absolute;
		bottom: 10px;
		margin: 0;
		color: white;
		font-size: 20px;
		padding: 0 10px;
		text-align: center;
		font-weight: bold;
	}
}

.comeOn:before {
	content: "";
	display: inline-block;
	width: 100%;
	padding-top: 90%;
	background: url("../img/icones/add.svg") no-repeat center center ;
	background-size: 70%;
	position: absolute;
	top: 0px;
	transition: transform 0.3s ease;
}

.comeOn:hover:before {
	transform: scale(1.1, 1.1);
}

.comeOn:after {
	content: "";
	display: inline-block;
	padding-top: 125%;

}

.comments {
	position: relative;
	margin: 40px 0 30px 0;
	background: @black;
	color: white;
	display: block;
	width: 100%;

	.writeComment {
		box-sizing: border-box;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 20px;
		border-left: 100px solid transparent;
		border-right: 110px solid transparent;
	}

	textarea {
		resize: none;
		box-sizing: border-box;
		padding: 5px 5px;
		height: 30px;
		font-size: 15px;
		width: 100%;
	}

	input[type=submit] {
		width: 40px;
		height: 40px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		color: transparent;
		border: none;
		background: url("../img/icones/new-comment.svg") no-repeat center center;
		cursor: pointer;
		background-size: contain;
		position: absolute;
		right: 37px;
		top: 29px;
	}

	textarea:focus { outline: none; }

	.usersPhoto {
		margin: 20px;
		position: absolute;
		right: 0;
		top: 0;
		width: 70px;
		float: right;
	}

	.oneComment {
		min-height: 110px;
		position: relative;
		width: 100%;
		display: block;

		time { width: 50px; padding: 20px; float: left; text-align: center; }

		.comment {
			min-height: 110px;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			border-left: 100px solid transparent;
			padding-top: 20px;
			width: 100%;
			display: inline-block;
			float: right;

			p {
				margin: 0;
				box-sizing: border-box;
				width: 100%;
				padding-right: 100px;

				.name { display: block; font-weight: bold; margin-bottom: 10px; }

				.atblue { color: @blue; }
			}
		}

		.clearfix
	}

	.oneComment:not(:last-child) .comment:after {
		content: "";
		display: inline-block;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		border-bottom: 1px solid white;
	}

	.commentPages {
		margin: 15px 0;
		text-align: right;
		display: block;
		margin-right: 25px;
	
		.noline { text-decoration: none; }
		span { margin-right: 10px; }
		a { color: white; text-decoration: underline; margin-left: 10px; }
		a:hover { text-decoration: none; }
	}

	.clearfix
}