.closeArticle {
	display: inline-block;
	position: fixed;
	background: url("../img/icones/close.svg") no-repeat center center;
	background-size: contain;
	width: 30px;
	height: 30px;
	top: 75px;
	left: 1.5%;

	.titre{
		display: inline-block;
		float: left;
		width: 100%;
	}
}