.lieu {
    display: block;
    box-sizing: border-box;
    border-right: 44px solid transparent;
    width: 96.5%;
    margin-left: 3.5%;
    float: left;
    
    .info { width: 33.3333333%}
    ul li { list-style: none; }
    .panoramique { width: 100%; }
    .info-lieu {
    	height: 60px;
    	background: @black;
    	color: white;
    	text-align: center;
    	padding: 40px;
    }
}