main {
    position: absolute;
    box-sizing: border-box;
    background: white;
    z-index: 2;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform 1.3s ease;
    transform: translateX(0);

    .scroller {
        z-index: 1;
        box-sizing: border-box;
        border-top: solid 44px transparent;
        padding-top: 30px;
        overflow-y: scroll;
        height: 100%;
        width: 96.5%;
    }

    .scroller:after { content: ""; display: inline-block; height: 40px; width: 100%; }

    .linkMap {
        z-index: 3;
        background: @blue;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 3.5%;
        display: block;
        transform: translateX(0);
        transition: transform 1.3s ease, background 1.3s ease;

        span {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 48%;
            font-size: 14px;
            font-weight: bold;
        }

        span:before {
            content: "";
            top: 200px;
            display: inline-block;
            width: 100%;
            padding-top: 100%;
            background: url("../img/icones/map.svg") no-repeat center center;
            background-size: 30px;
        }
    }
}

#largeMap {
    z-index: 1;
    background: white;
    position: fixed !important;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top: 44px solid white;
    border-left: 44px solid white;
}

.kickOutContent { transform: translateX(-100%); }
.letLinkMap {
    transform: translateX(100%)!important;
    background: @orange!important;
    span {font-size: 10px!important;}

    span:before {
        background: url("../img/icones/gazette.svg") no-repeat center center !important;
    }
}