.lieu {
    display: block;
    box-sizing: border-box;
    border-right: 44px solid transparent;
    width: 96.5%;
    margin-left: 3.5%;
    float: left;
    
    .info { width: 30%}
    ul li { list-style: none; }