title Hung Around
meta(charset="utf-8")
link(rel="stylesheet" type="text/css" href="css/style.css")
link(rel="icon" href="img/icones/favicon.ico")
script(type="text/javascript" src="js/video.min.js")
script
  videojs.options.flash.swf = "http://example.com/path/to/video-js.swf"