.messageContainer
	.mail
		.message-destinataire
			input(type='text', name='fname', placeholder="Titre")
		.message-texte
			textarea(name='textarea', rows='10', cols='50' placeholder="Saisir un texte ici.")
		.message-envoi
			input(type='submit', value='envoyer')