.messagerieContainer
	.messagerie
		a.messagerieCloser.toggleMessagerie(href="#")
		.messagerie-destinataire
			input(type='text', name='fname', placeholder="A: Milène Delabougne")
		.messagerie-texte
			textarea(name='textarea', rows='10', cols='50' placeholder="Saisissez votre texte ici.")
		.messagerie-envoi
			input.toggleMessagerie(type='submit', value='Envoyer')