#mosaic
	.item.p1x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p2x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p1x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p2x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p1x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p2x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p1x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p2x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p1x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste
	.item.p2x1
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste

	.item.p2x2
		img.item-img(src="" alt="")
		a.item-nomDeLarticle(href="#") D'est en ouest...
		a.item-lieu(href="#") Col de la Lyé
		a.item-auteur(href="#") Francois Juste