#mosaic
	.item.p2x2.recommande
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/500-625" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1.nonlu
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x1.suivi
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/600-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/600-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x2.nonlu
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/500-625" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1.recommande
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x1.recommande
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/600-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/600-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x2
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/500-625" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p2x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/600-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste
	.item.p1x1
		a(href=""): img.item-img(src="http://placepic.me/ganjagirls/300-375" alt="")
		.item-links
			a.item-links-articleName(href="#") D'est en ouest...
			a.item-links-lieu(href="#") Col de la Lyé
			a.item-links-auteur(href="#") Francois Juste