.lienArticle
	img.lienArticle-imgPrésentation(src="" alt="imgPrésentation")
	a.lienArticle-nomDeLarticle(href="#") D'est en ouest...
	a.lienArticle-lieu(href="#") Col de la Lyé
	a.lienArticle-auteur(href="#") Francois Juste



