nav.nav
	a(href="index.html")
		img.nav-logo(src="img/logo.svg" alt="logo")
	.nav-gazette
		p Gazette
		input(type='checkbox', name='choix1', value='1')
		| Recomandés
		input(type='checkbox', name='choix2', value='2')
		| Suivi
		input(type='checkbox', name='choix3', value='3')
		| Non-lus
		
	.nav_grimpeur
		a(href="") Grimpeur
		