nav.nav
	.nav-logo
		a(href="index.html")
			img.nav-logo-img(src="img/logo.svg" alt="logo")
	.nav-gazette
		p Gazette
		input.nav-gazette-suivi(type='checkbox', name='choix1', value='1')
		| Recommandés
		input.nav-gazette-suivi(type='checkbox', name='choix2', value='1')
		| Suivi
		input.nav-gazette-nonlus(type='checkbox', name='choix3', value='1')
		| Non-lus
	.nav-grimpeur
		a(href="") Grimpeur
	.nav-recherche
		input.nav-recherche-champDeTexte(type='search', placeholder='Recherche', name='barre de recherche')
		input(type='submit')
	.nav-creer
		a(href="")
			img.nav-creer-img(src="img/icones/new-article.svg" alt="boussole")
	.nav-profil
		img.nav-profil-photo(src="img/icones/user.svg" alt="photoDeProfil")
		ul.nav-profil-menuDeroulant
			li
				h3 Nom du grimpeur
			li
				a(href="") Profil
					img.nav-profil-menuDeroulant-profil(src="img/icones/user.svg" alt="user")
			li
				a(href="") Favoris
					img.nav-profil-menuDeroulant-favoris(src="img/icones/like.svg" alt="user")
			li
				a(href="") Parametres
					img.nav-profil-menuDeroulant-parametres(src="img/icones/settings.svg" alt="user")
			p A propos-Aide-FAQ-confidentialité...

