nav.nav
	.nav-logo
		a(href="index.html")
			img.nav-logo-img(src="img/logo.svg" alt="logo")
	.nav-gazette
		p Gazette
		input.nav-gazette-suivi(type='checkbox', name='choix1', value='1')
		| Recommandés
		input.nav-gazette-suivi(type='checkbox', name='choix2', value='1')
		| Suivi
		input.nav-gazette-nonlus(type='checkbox', name='choix3', value='1')
		| Non-lus
	.nav-grimpeur
		a(href="") Grimpeur
	.nav-recherche
		input.nav-recherche-champDeTexte(type='search', placeholder='Recherche', name='barre de recherche')
		input(type='submit')
	.nav-creer
	a(href="") boussole
		img.nav-creer-img(src="img/icones/new-article" alt="boussole")

