nav.nav
	a(href="index.html")
			img.nav-logo(src="img/logo.svg" alt="logo")
	a.nav-gazette(href="index.html") Gazette
	a.nav-grimpeur(href="#") Grimpeur
	.nav-filtre
		input(type='checkbox' name='choix1' id='choix1' checked)
		label.nav-filtre-recommandes(for="choix1") Recommandés
	.nav-filtre
		input(type='checkbox' name='choix2' id='choix2' checked)
		label.nav-filtre-suivi(for="choix2") Suivi
	.nav-filtre
		input(type='checkbox' name='choix3' id='choix3' checked)
		label.nav-filtre-nonlus(for="choix3") Non-lus
	.nav-recherche
		input.nav-recherche-input(type='search', placeholder='Recherche', name='barre de recherche')
		input.nav-recherche-submit(type='submit')
	a.nav-creer(href="")
		img.nav-creer-img(src="img/icones/new-article.svg" alt="boussole")
	.nav-profil
		a(href="#"): img.nav-profil-photo(src="img/icones/user.svg" alt="photoDeProfil")
		ul.nav-profil-menuDeroulant
			li
				h3 Nom du grimpeur
			li
				a(href="") Profil
					img.nav-profil-menuDeroulant-profil(src="img/icones/user.svg" alt="user")
			li
				a(href="") Favoris
					img.nav-profil-menuDeroulant-favoris(src="img/icones/like.svg" alt="user")
			li
				a(href="") Parametres
					img.nav-profil-menuDeroulant-parametres(src="img/icones/settings.svg" alt="user")
			p A propos-Aide-FAQ-confidentialité...

