nav.nav
	a(href="index.html")
		img.nav-logo(src="img/logo.svg" alt="logo")
	.nav-gazette
		p Gazette
		input.nav-gazette-recommandés(type='checkbox', name='choix1', value='1')
		| Recomandés
		input.nav-gazette-suivi(type='checkbox', name='choix2', value='1')
		| Suivi
		input.nav-gazette-nonlus(type='checkbox', name='choix3', value='1')
		| Non-lus
		
	.nav-grimpeur
		a(href="") Grimpeur
	
	.nav-recherche
		input.nav-recherche-champDeTexte(type='search', placeholder='Entrez un mot-clef', name='barre de recherche')
