.reponseContainer
	.reponse
		.reponse-destinataire
			span Message de Milène Delabougne
		.reponse-texte
			span Salut Francois.</br>Je viens de voir que tu étais au col de la Lyé dimanche dernier. C'est dommage, j'y étais samedi. Il faut qu'on ce programme une sortie ensemble un de ces 4. :) 
			input.toggleMessagerie(type='submit', value='Envoyer')