script(type="text/javascript" src="js/jquery-2.1.1.min.js")
//- script(type="text/javascript" src="js/scrollto.min.js")
//- script(type="text/javascript" src="js/history.min.js")
//- script(type="text/javascript" src="js/ajaxify.min.js")

script(type="text/javascript" src="js/packery.min.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyyHBk577NziTUibLUV-R7yXQbDHFS9EE")

script(type="text/javascript" src="js/script.min.js")