script(type="text/javascript" src="js/script.min.js")
script(type="text/javascript" src="js/jquery-2.1.1.min.js")
script(type="text/javascript" src="js/scrollto.min.js")
script(type="text/javascript" src="js/history.min.js")
script(type="text/javascript" src="js/ajaxify.min.js")